<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalisAI - Manual do Usuário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <style>

        .cards {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 100%;
            min-height: 200px;
            background-color: #ffffff00;
            border-radius: 28px;
            border: 2px solid #2e3134;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }


        .title {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .button {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-top: 50px;
            background-color: #ff0101;
            max-width: 100px;
            color: #ffffff;
            text-decoration: none;
            border-radius: 28px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #6e0000;
        }
        .button-1 {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-top: 50px;
            background-color: #217346;
            max-width: 100px;
            color: #ffffff;
            text-decoration: none;
            border-radius: 28px;
            transition: background-color 0.3s ease;
        }

        .button-1:hover {
            background-color: #003518;
        }

    </style>
</head>
<body class="dash-body">

    <% if (userCargo === 'Professor' || userCargo === 'Admin') { %>
    <%- include('partials/barProfessor') %>
    <% } else { %>
        <%- include('partials/barAluno') %>
    <% } %>
    
    <div class="main-layout">
        <header class="dash-header">
            <div class="header-left">
                <h1>
                    Manual do Usuário
                </h1>
            </div>
            
            <div class="header-user">
                <div class="user-profile-group">
                    <div class="user-details">
                        <span class="user-name"><strong><%= user %></strong></span>
                    </div>
                </div>
                <div class="header-actions">
                    <%- include('./partials/notificacoes', { notificacaoClasse: 'header-icon' }) %>
                     
                </div>
            </div>
        </header>

        <main class="cards">
            <div class="card">
                <h1 class="title">
                    Manual do Professor
                </h1>
                <a href="/manuais/professor" id="professorBtn" class="button">
                    
                    Acessar
                </a>
            </div>
            <div class="card">
                <h1 class="title">
                    Manual do Aluno
                </h1>
                <a href="/manuais/aluno" id="alunoBtn" class="button-1">
                    Acessar
                </a>
            </div>
        </main>

    </div>
</body>
</html>